<h2>Hedge Fund Operations Interview</h2>
<br \>
<p>Create your own study guide! Answer the questions below which were taken from a recent Hedge Fund Operations Interview.</p>
<br \>

<%= render 'form' %>

<%= link_to 'Back', jobs_path %>
