<h1>Job Title: <%= @job.name %></h1>
<h3>Create your own study guide by answering the questions below. These were all taken from a recent <%= @job.name %> interview.</h3>
<br \>

<%= render 'form' %>

<%= link_to 'Back', job_question_answers_path %>
