<h1>About.</h1>
<p>InterQ was founded to help the average person perform their best on an interview. Our goal is to provide a level of preparation that is currently not available from other sources and to have our users educated and confident as they pitch themselves for a new job. We believe that with the proper level of inter-evaluation and practice, acing and interview can become routine. As the recruiting industry evolves, our goal is to continue to provide superior insight and tools to help job seekers reach their goals. We hope you find our website as useful and helpful as we do, and welcome feedback and suggestions as much as possible.
<br \>
<br \>
Thank you for using our site and we hope to hear from you soon.
<br \>
<br \>
Sincerely,
<br \>
The InterQ Team
</p>
