<div class="home center">
	<h2>An Interview Prep Tool</h2>
		
		<div class="value">
			<table>
				<tr>
					<td>
						<img src="/images/keyboard.png" alt="keyboard">
					</td>
					<td>
						<p><strong>Studying For Interviews Can Be Tough</strong> 
							<br />
							We have set up a super-easy way to create a study guide to help you Ace your next interview.</p>
					</td>
				</tr>
				<tr>
						<td>
							<img src="/images/study-guide.png", alt="study-guide"> 
						</td>
						<td>
							<p><strong>What Questions Will I Be Asked?</strong>
								<br />
								Knowing what you will be asked at an interview is key - use our resources where we give you the inside scoop.</p>
						</td>
				</tr>	
			</table>
		</div>
		<div class="first_job">
			<h3>This week's featured interview questions are for the position of:
				<br \> 
				<br \>
				<div id="featured_question">
					<a href="/jobs/1/questions/new"><b>Hedge Fund Operations</b></a></h3>
				</div>
		</div>
</div>


