<div class="home center">
	<h2>An Interview Prep Tool</h2>
		
		<div class="value">
			<table>
				
				<tr>InterQ was created to increase the efficiency of prepping for interviews. 
				</tr>
				<tr>
					<td>
						<img src="/images/keyboard.png", alt="keyboard">
					</td>
					<td>
						<p><strong>Studying For Interviews Is All About Practice</strong> 
							<br />
							We have set up a super-easy way to create a study guide to help you Ace your next interview.</p>
					</td>
				</tr>
				<tr>
						<td>
							<img src="/images/question1.png", alt="study-guide"> 
						</td>
						<td>
							<p><strong>Stop Wasting Your Time Searching For Questions!</strong>
								<br />
								Use our resources where we give you job specific questions to practice with.</p>
						</td>
				</tr>	
			</table>
		</div>
		<div class="first_job">
			<h3>This week's featured interview questions are for the position of:
				<br \> 
				<br \>
					<p>Hedge Fund Operations</p></h3>
					<br \>
					<br \>
					<div class="featured_question round">
					<a href="/jobs/1/questions/new">Create A Study Guide Here!</a>
				</div>
		</div>
</div>


