<div class="home center">
	<h2>What job do you have an interview for?</h2>

	<ul id="dropdown">
		<li>
			<h2>Jobs</h2>
				<ul>
					<li><a href="/jobs/1/questions/new">Marketing</a></li>
					<li><a href="/jobs/2/questions/new">Finance</a></li>
					<li><a href="/jobs/3/questions/new">Nursing</a></li>
				</ul>		
			</li>
		</ul>
</div>


